@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,500&display=swap');

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    white-space: nowrap;
}
body, html{
    margin: 0;
    padding: 0;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}
header nav ul li{
    list-style-type: none;
    margin-right: 40px;
}
header nav ul li a{
    color: black;
}
.Space{
    margin-right: 50px;
}
.S1{
    margin-right: 50px;
}
.S2{
    margin-right: 54px;
}
.Montserrat{
    font-family: 'Montserrat', sans-serif;
}
.M600{
    font-weight: 600;
}
.M700{
    font-weight: 700;
}
.M500{
    font-weight: 500;
}
.M500I{
    font-weight: 500;
    font-style: italic;
}
.M400{
    font-weight: 400;
}
.M300{
    font-weight: 300;
    font-style: italic;
}
.M800{
    font-weight: 800;
}
.Circle{
    color: #E5E5E5;
    opacity: 0.3;
    width: 185px;
    height: 185px;
    position: absolute;
    margin-top: -270px;
    margin-left: -70px;
}
.T1{
    margin-left: 14px;
    color: #6C63FF;
    font-size: 25px;
}
.T2{
    margin: 0;
    padding: 0;
    font-size: 44px;
    max-width: 500px;

}
.T3{
    margin-bottom: 64px;
    opacity: 0.6;
    font-size: 20px;
    max-width: 400px;
    margin-right: 0;
}
.T4{
    margin: 0;
    padding: 0;
    font-size: 44px;
    max-width: 500px;
}
.T5{
    font-size: 25px;
    opacity: 0.6;
    text-align: center;
    max-width: 600px;
    line-height: 30,48px;
}
.T6{
    font-size: 14px;
    line-height: 17px;
    opacity: 0.6;
}
.T7{
    font-size: 27px;
line-height: 33px;
}
.T8{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 49px;
    margin-left: 900px;
    margin-top: 180px;
    max-width: 500px;
}
.T9{
    margin-left: 900px;
    font-size: 20px;
    line-height: 24px;
opacity: 0.75;
max-width: 400px;

}
.T10{
    font-size: 22px;
    line-height: 27px;
    color: #6C63FF;
    margin-left: 900px;
}
.T11{
    
    font-size: 44px;
    line-height: 54px;
    color: black;
    text-align: center;
}
.T12{
    margin-left: 100px;
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.8;
    color: #B7B3B3;
}
.T13{
    color: #6C63FF;
    font-size: 25px;
    position: absolute;
    margin-top: 30px;
    margin-left: 590px;
}
.T14{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 20px;
}
.T15{
    margin: 0;
    padding: 0;
    margin-top: 19px;
    color: #B7B3B3;
    font-size: 18px;
    line-height: 22px;
    max-width: 403px;
    margin-left: 20px;
}
.T16{
    color: #FFFFFF;
    font-size: 33px;
    line-height: 50px;
    max-width: 160px;
    margin: 0;
}
.T17{
    margin: 0;
    font-size: 22px;
line-height: 27px;
color: white;
}
.T18{
    padding-top: 23px;
    padding-left: 26px;
    
    margin-bottom: 0;
    color: black;
    font-size: 20px;
line-height: 35px;
max-width: 245px;
}
.T19{
    display: block;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.T20{
    display: block;
    font-size: 16px;
    color: #787777;
    margin: 0;
    padding: 0;
}
.T21{
    padding-top: 23px;
    padding-left: 26px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    font-size: 20px;
line-height: 35px;
max-width: 245px;
}
.T22{
   
    padding-left: 26px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    font-size: 20px;
line-height: 35px;
max-width: 245px;
}
.T23{
    font-size: 14px;
    opacity: 0.4;
    margin-left: 100px;
    margin-bottom: 5px;
}
.T24{
    margin-left: 14px;
    color: #6C63FF;
    font-size: 25px;

}
.T25{
    margin-left: 100px;
    margin-top: 50px;
    color: #B7B3B3;
    font-size: 18px;
line-height: 22px;
max-width: 300px;

}
.T26{
    font-size: 18px;
line-height: 22px;
color: #8B8B8B;
}
.T27{
    list-style-type: none;
  
}
.T27 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 50px;
}

.T29{
    list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.T29 a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    line-height: 50px;
    
}
.T29 img{
    width: 57px;
    height: 57px;
}

.T28{
    color: white;   
    font-size: 22px;
    align-self: center;
}

#LogoParent2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
}
#LogoParent2 img{
    width: 51px;
    height: 51px;
}
.UL{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}
.UL li{
    list-style-type: none;
}
.UL li a{
    text-decoration: none;
}
.Button{
    padding: 10px 24px;
    border: 1.5px solid #B7B3B3;
}
.B2{
    background-color: #6C63FF;
    color: white;
}
.B4{

    margin-right: 20px;
    background-color: #6C63FF;
    color: white;
}
.B3{

    color: black;
    padding: 10px 18px;
}
.ButtonParent1{
    margin-right: 14px;
   
}
.C1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 120px;
    margin-left: 165px;
}
.C2{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 200px;
}
.C3{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.C3 img{
    margin: 0 55.5px;
    width: 207px;
    height: 207px;
}
.C4{
    margin-bottom: 225px;
}
.C5{
    display: flex;
    justify-content: center;
}
.C6{
    display: flex;
    justify-content: center;
    margin-left: 135px;
    margin-bottom: 106px;
}
.C7{
    display: flex;
    justify-content: center;
    margin-left: 135px;
}
.C8{
    margin-top: 300px;
    background-color: #6C63FF;
    width: 100%;
    height: 425px;
    display: flex;
    z-index: 0;
}
.C9{
 padding-top: 60px;
 margin-left: 150px;
}
.C10{
    display: flex;
    margin-left: 350px;
    
}
.C11{
    margin-left: 100px;
    margin-top: -53px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
flex-direction: column;
}
.C13{
    margin-top: 75px;
}
.C14{
    
    display: flex;
    align-items: flex-start;
}
.C15 ul{
    margin-left: 100px;
    margin-top: 120px;
}
.C16 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 120px;
    padding: 0;
}
.C16 li{
    margin-left: 25px;
    margin-bottom: 10px;
}
.C16{
    width: 223px;
    height: 300px;
    background-color: #6C63FF;
    border-radius: 25px;
    margin-left: 100px;
    margin-top: -45px;
}
#T30{
    margin-left: 15px;
}
#T31{
    margin-left: 40px;
}
#T32{
    margin-left: 38px;
}
footer{
    height: 500px;
}
.Card1{
    z-index: 1;
    margin-left: 18px;
    margin-top: 60px;
    background-color: white;
    border-radius: 15px;
    width: 300px;
    height: 300px;
}
.Card2{
    z-index: 1;
    margin-left: 18px;
    margin-top: 60px;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 205px;
    height: 300px;
}
.Circle2{
    position: absolute;
    opacity: 0.3;
    margin-left: -120px;
    margin-top: 185px;
    z-index: 0;
    width: 400px;
    height: 400px;
}
.img3{
    width: 59px;
    height: 59px;
    margin-top: 5px;
    margin-left: 25px;
}
#Border1{
    margin-top: 10px;
    margin-left: 2px;
    width: 52px;
    height: 3px;
    background-color: #B7B3B3;
}
#Border2{
    margin-top: 10px;
    width: 49px;
    height: 3px;
    background-color: #B7B3B3;
}
#Border3{
    margin-top: 10px;
    margin-left: 902px;
    width: 86px;
    height: 3px;
    background-color: #B7B3B3;
}
#Border4{
    margin: 0 auto;
    margin-right: 230px;
    margin-top: 10px;
    width: 49px;
    height: 3px;
    background-color: #B7B3B3;
}
#Border5{
    margin-top: 17px;
    margin-bottom: 26px;
    width: 58px;
    height: 3px;
    background-color: #ffffff;
}
#LogoParent{
    display: flex;
    align-items: center;
    margin-left: 61px;
}

#LogoParent img{
    width: 51px;
    height: 51px;
}
#img1{

    width: 509px;
    height: 364px;
}
.img2{
    width: 36px;
    height: 36px;
    position: absolute;
    margin-top: -7.5px;
    margin-left: 11px;
}
#img1_Parent{
position: absolute;
margin-left: 775px;
margin-top: -45px;
}
.Img__Under{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Img__Under h2, .Img__Under p{
    text-align: center;
}
.Img__Under p {
    max-width: 300px;
}
.IMGU{
    margin: 0 12px;
}
.C4__Img{
z-index: -1;
    margin-top: 150px;
    position: absolute;
    background-color: #fffcfc;
    height: 580px;
    width: 100%;

}
#I1{
    z-index: -1;
    margin-top: 135px;
    position: absolute;
    width: 305px;
    height: 305px;
}
#I2{
    margin-top: 230px;
    margin-left: 65px;
}
.C4 img{
   width: 495px;
   height: 298px;
}
#Bottom__Logo{
    position: absolute;
    margin-left: 13px;
    margin-top: 20px;
    width: 51px;
    height: 51px;
}
#img3{
    margin-top: -120px;
    z-index: -1;
    position: absolute;
    text-align: center;
    width: 990px;
    height: 980px;
    margin-left: -180px;

}
.C6_1{
    
    display: flex;
    flex-direction: row;
 
}
.C6_1 img{
    display: inline-block;
width: 64.6px;
height: 76px;
}
.C6_1_1{
    display: flex;
    flex-direction: column;
}




.C6_2{
    
    display: flex;
    flex-direction: row;
  
}
.C6_2 img{
    display: inline-block;
width: 64.6px;
height: 76px;
}
.C6_1_1{
    display: flex;
    flex-direction: column;
}



/*  */


.C7_1{
    
    display: flex;
    flex-direction: row;
 
}
.C7_1 img{
    display: inline-block;
width: 64.6px;
height: 76px;
}
.C7_1_1{
    display: flex;
    flex-direction: column;
}



.C7_2{
    
    display: flex;
    flex-direction: row;
  
}
.C7_2 img{
    display: inline-block;
width: 64.6px;
height: 76px;
}
.C7_1_1{
    display: flex;
    flex-direction: column;
}
