@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    white-space: nowrap;
}
body, html{
    margin: 0;
    padding: 0;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}
header nav ul li{
    list-style-type: none;
    margin-right: 40px;
}
header nav ul li a{
    color: black;
}
.Space{
    margin-right: 50px;
}
.S1{
    margin-right: 50px;
}
.S2{
    margin-right: 54px;
}
.Montserrat{
    font-family: 'Montserrat', sans-serif;
}
.M600{
    font-weight: 600;
}
.M700{
    font-weight: 700;
}
.M500{
    font-weight: 500;
}
.M400{
    font-weight: 400;
}
.T1{
    margin-left: 14px;
    color: #6C63FF;
    font-size: 25px;
}
.T2{
    margin: 0;
    padding: 0;
    font-size: 44px;
    max-width: 500px;

}
.T3{
    margin-bottom: 64px;
    opacity: 0.6;
    font-size: 20px;
    max-width: 400px;
    margin-right: 0;
}
.T4{
    margin: 0;
    padding: 0;
    font-size: 44px;
    max-width: 500px;
}
.T5{
    font-size: 25px;
    opacity: 0.6;
    text-align: center;
    max-width: 600px;
    line-height: 30,48px;
}
.T6{
    font-size: 14px;
    line-height: 17px;
    opacity: 0.6;
}
.T7{
    font-size: 27px;
line-height: 33px;
}
.T8{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 49px;
    margin-left: 900px;
    margin-top: 180px;
    max-width: 500px;
}
.T9{
    margin-left: 900px;
    font-size: 20px;
    line-height: 24px;
opacity: 0.75;
max-width: 400px;

}
.T10{
    font-size: 22px;
    line-height: 27px;
    color: #6C63FF;
    margin-left: 900px;
}
.UL{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}
.UL li{
    list-style-type: none;
}
.UL li a{
    text-decoration: none;
}
.Button{
    padding: 10px 24px;
    border: 1.5px solid #B7B3B3;
}
.B2{
    background-color: #6C63FF;
    color: white;
}
.B4{

    margin-right: 20px;
    background-color: #6C63FF;
    color: white;
}
.B3{

    color: black;
    padding: 10px 18px;
}
.ButtonParent1{
    margin-right: 14px;
   
}
.C1{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 120px;
    margin-left: 165px;
}
.C2{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 200px;
}
.C3{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.C3 img{
    margin: 0 55.5px;
    width: 207px;
    height: 207px;
}
#Border1{
    margin-top: 10px;
    margin-left: 2px;
    width: 52px;
    height: 3px;
    background-color: #B7B3B3;
}
#Border2{
    margin-top: 10px;
    width: 49px;
    height: 3px;
    background-color: #B7B3B3;
}
#Border3{
    margin-top: 10px;
    margin-left: 902px;
    width: 86px;
    height: 3px;
    background-color: #B7B3B3;
}

#LogoParent{
    display: flex;
    align-items: center;
    margin-left: 61px;
}
#LogoParent img{
    width: 51px;
    height: 51px;
}
#img1{

    width: 509px;
    height: 364px;
}
#img1_Parent{
position: absolute;
margin-left: 775px;
margin-top: -45px;
}
.Img__Under{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Img__Under h2, .Img__Under p{
    text-align: center;
}
.Img__Under p {
    max-width: 300px;
}
.IMGU{
    margin: 0 12px;
}
.C4__Img{
z-index: -1;
    margin-top: 150px;
    position: absolute;
    background-color: #fffcfc;
    height: 580px;
    width: 100%;

}
#I1{
    z-index: -1;
    margin-top: 135px;
    position: absolute;
    width: 305px;
    height: 305px;
}
#I2{
    margin-top: 230px;
    margin-left: 65px;
}
.C4 img{
   width: 495px;
   height: 298px;
}