@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    white-space: nowrap;
}
body, html{
    margin: 0;
    padding: 0;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}
header nav ul li{
    list-style-type: none;
    margin-right: 40px;
}
header nav ul li a{
    color: black;
}
.Space{
    margin-right: 50px;
}
.S1{
    margin-right: 50px;
}
.S2{
    margin-right: 54px;
}
.Montserrat{
    font-family: 'Montserrat', sans-serif;
}
.M600{
    font-weight: 600;
}
.M700{
    font-weight: 700;
}
.T1{
    margin-left: 14px;
    color: #6C63FF;
    font-size: 25px;
}
.T2{
    margin: 0;
    padding: 0;
    font-size: 44px;
    max-width: 500px;
    margin-top: 120px;
    margin-left: 165px;
}
.Button{
    padding: 10px 24px;
    border: 1.5px solid #B7B3B3;
}
.B2{
    background-color: #6C63FF;
    color: white;
}
.ButtonParent1{
    margin-right: 14px;
   
}

#Border1{
    margin-top: 10px;
    margin-left: 168px;
    width: 52px;
    height: 3px;
    background-color: #B7B3B3;
}

#LogoParent{
    display: flex;
    align-items: center;
    margin-left: 61px;
}
#LogoParent img{
    width: 51px;
    height: 51px;
}